body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Montserrat';
}
.page-header {
  max-width: 100%;
  background-image: linear-gradient(14deg, #3244c3 0%, #001356 100%);
}
.page-header-wrapper {
  max-width: 1500px;
  margin: auto;
}
.page-header__menu {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-around;
}
.logo {
  width: 56px;
  margin: 16px;
}
.page-header__item--logo-description {
  margin-right: 32px;
  font-size: 20px;
}
.page-header__list {
  display: flex;
  margin: auto 0;
  justify-content: space-around;
}
.page-header__list a {
  text-decoration: none;
  color: #889cff;
  font-size: 14px;
}
.page-header__list a:hover {
  color: #cacaca;
}
.page-header__item {
  margin-right: 16px;
  font-size: 20px;
}
.nav-dropdown::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 8px;
  margin-right: 16px;
  vertical-align: middle;
  border-width: 6px 4px 0;
  border-style: solid;
  border-color: #161e56 transparent transparent;
}
.main-nav__list {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.main-nav__item {
  margin-right: 24px;
  display: flex;
  align-items: center;
}
.main-nav__item--busket {
  margin-right: 24px;
  display: flex;
  align-items: center;
}
.main-nav__item--mini {
  margin-right: 8px;
  display: flex;
  align-items: center;
  display: none;
}
.main-nav__item--contact {
  margin-right: 24px;
  display: flex;
  align-items: center;
}
.main-nav__icon {
  width: 32px;
  margin-right: 8px;
}
.main-nav__btn {
  padding: 8px 32px 8px 32px;
  border-radius: 6px;
  background-image: linear-gradient(14deg, #ffcf56 0%, #ffc83d 100%);
  color: #000;
  font-family: 'Montserrat SemiBold';
  text-decoration: none;
}
.main-nav__btn:hover {
  background-image: linear-gradient(14deg, #ffcf56 0%, #ffd670 100%);
  color: #0a0a0a;
}
.main-nav__link a {
  color: #fff;
  font-family: 'Montserrat Medium';
  text-decoration: none;
  font-size: 16px;
}
.main-nav__link a:hover {
  color: #cacaca;
}
.page-content {
  max-width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
.page-conten__wrapper {
  max-width: 1420px;
  margin: 0 auto;
}
.secondary-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat Medium';
  color: #161e56;
}
.secondary-nav__item {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid rgba(0, 19, 86, 0);
}
.secondary-nav__list a {
  text-decoration: none;
  color: #161e56;
}
.secondary-nav__item:hover {
  border-bottom: 2px solid #ffcf56;
  transition: .2s linear;
  z-index: 10;
}
.nav-dropdown {
  position: relative;
}
.submenu {
  position: absolute;
  background: #FFF;
  top: 36px;
  left: -16px;
  z-index: 5;
  width: 360px;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  padding: 24px 0 24px 0;
  transition: .1s linear;
  font-family: 'Montserrat Medium';
  color: #171717;
}
.submenu li {
  display: flex;
  align-items: center;
  padding: 12px;
  border-left: 1px solid #f8f8f8;
}
.submenu li:hover {
  background: #f8f8f8;
  border-left: 1px solid #ffcf56;
}
.submenu li:active {
  background: #f8f8f8;
  border-left: 1px solid #ffcf56;
}
.submenu {
  visibility: hidden;
  opacity: 0;
}
li:hover > .submenu {
  visibility: visible;
  opacity: 1;
}
.submenu__icon {
  width: 24px;
  margin-right: 16px;
  margin-left: 8px;
}
.submenu a {
  text-decoration: none;
  color: #161e56;
}
.burger_trigger {
  position: absolute;
  top: 25px;
  left: 16px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  display: none;
}
.burger {
  height: 2px;
  width: 24px;
  background-color: #fff;
  position: relative;
  border-radius: 8px;
}
.burger:before,
.burger:after {
  border-radius: 8px;
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background-color: #fff;
  left: 0;
  top: 8px;
}
.burger:after {
  top: 16px;
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 1440px) {
  .page-header-wrapper {
    max-width: 1366px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 24px;
  }
  .page-header__item--logo-description {
    font-size: 20px;
  }
  .main-nav__item--contact {
    align-items: center;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 1300px;
  }
  .secondary-nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat Medium';
    color: #161e56;
  }
  .submenu {
    top: 9px;
    left: 0px;
    width: 320px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 1024px) {
  .page-header-wrapper {
    max-width: 1024px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 64px;
  }
  .page-header__item--logo-description {
    font-size: 16px;
  }
  .page-header__item {
    display: none;
  }
  .main-nav__item--contact {
    display: none;
    align-items: center;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 1024px;
  }
  .secondary-nav__list {
    flex-wrap: wrap;
    visibility: hidden;
    height: 1px;
  }
  .burger_trigger {
    display: block;
  }
  .submenu {
    top: 9px;
    left: 0px;
    width: 320px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 992px) {
  .page-header-wrapper {
    max-width: 960px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 64px;
  }
  .page-header__item--logo-description {
    font-size: 16px;
  }
  .page-header__item {
    display: none;
  }
  .main-nav__item--contact {
    display: none;
    align-items: center;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 960px;
  }
  .secondary-nav__list {
    flex-wrap: wrap;
    visibility: hidden;
    height: 1px;
  }
  .burger_trigger {
    display: block;
  }
  .submenu {
    top: 9px;
    left: 0px;
    width: 320px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 768px) {
  .page-header-wrapper {
    max-width: 768px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 64px;
  }
  .page-header__item--logo-description {
    font-size: 12px;
  }
  .page-header__item {
    display: none;
  }
  .main-nav__item--contact {
    display: none;
    align-items: center;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 768px;
  }
  .secondary-nav__list {
    flex-wrap: wrap;
    visibility: hidden;
    height: 1px;
  }
  .burger_trigger {
    display: block;
  }
  .main-nav__btn {
    display: none;
  }
  .submenu {
    top: -17px;
    left: 0px;
    width: 320px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 414px) {
  .page-header-wrapper {
    max-width: 414px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 185px;
  }
  .page-header__item--logo-description {
    display: none;
  }
  .page-header__item {
    display: none;
  }
  .main-nav__item--contact {
    display: none;
    align-items: center;
  }
  .main-nav__item {
    margin-right: 0px;
    display: none;
  }
  .main-nav__item--mini {
    margin-right: 8px;
    display: flex;
    align-items: center;
    display: block;
  }
  .main-nav__item--busket {
    margin-right: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 45px;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 414px;
  }
  .secondary-nav__list {
    flex-wrap: wrap;
    visibility: hidden;
    height: 1px;
  }
  .burger_trigger {
    display: block;
  }
  .submenu {
    top: -17px;
    left: 0px;
    width: 412px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
  .page-header-wrapper {
    max-width: 375px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 165px;
  }
  .page-header__item--logo-description {
    display: none;
  }
  .page-header__item {
    display: none;
  }
  .main-nav__item--contact {
    display: none;
    align-items: center;
  }
  .main-nav__item {
    margin-right: 0px;
    display: none;
  }
  .main-nav__item--busket {
    margin-right: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 35px;
  }
  .main-nav__item--mini {
    margin-right: 8px;
    display: flex;
    align-items: center;
    display: block;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 375px;
  }
  .secondary-nav__list {
    flex-wrap: wrap;
    visibility: hidden;
    height: 1px;
  }
  .burger_trigger {
    display: block;
  }
  .submenu {
    top: -17px;
    left: 0px;
    width: 373px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .page-header-wrapper {
    max-width: 320px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 140px;
  }
  .page-header__item--logo-description {
    display: none;
  }
  .page-header__item {
    display: none;
  }
  .main-nav__item--contact {
    display: none;
    align-items: center;
  }
  .main-nav__item {
    margin-right: 0px;
    display: none;
  }
  .main-nav__item--busket {
    margin-right: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 35px;
  }
  .main-nav__item--mini {
    margin-right: 8px;
    display: flex;
    align-items: center;
    display: block;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 320px;
  }
  .secondary-nav__list {
    flex-wrap: wrap;
    visibility: hidden;
    height: 1px;
  }
  .burger_trigger {
    display: block;
  }
  .submenu {
    top: -17px;
    left: 0px;
    width: 318px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/**/
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat Medium';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('../../fonts/Montserrat-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Open-Sans';
  src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open-Sans-Bold';
  src: url('../../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open-Sans-Extra';
  src: url('../../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}
h6 {
  font-family: Montserrat-Black;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
}
.beating {
  margin-bottom: 15px;
  margin-top: 20px;
}
.page-product {
  max-width: 100%;
}
.p-product__breadcrumps-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}
.product__breadcrumps {
  font-family: Open-Sans;
}
.product__breadcrumps-first,
.product__breadcrumps-links {
  text-decoration: none;
  color: #858585;
  font-size: 12px;
}
.product__breadcrumps-links:before {
  content: "\2013";
  padding: 0 8px;
}
.p-product__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding: 20px 0;
}
.product__preview {
  display: flex;
  flex-basis: 700px;
  border: 1px solid #ebebeb;
  margin-right: 24px;
}
.product__view {
  width: 700px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.product__view-img {
  max-width: 100%;
  margin: auto;
}
.product__mini-view {
  width: 50px;
}
.product__mini-img:hover {
  border: 1px solid #EF8447;
}
.product__mini-img {
  padding: 8px;
  cursor: pointer;
}
.product__title {
  font-family: 'Montserrat-Bold';
  font-size: 30px;
  margin-bottom: 24px;
}
.product__paragraph {
  font-family: Open-Sans;
  font-size: 14px;
  color: #414141;
  margin-bottom: 24px;
}
.product__color-items {
  display: flex;
  margin-bottom: 24px;
}
.product__color-item {
  display: flex;
  align-items: center;
  border: 1px solid #D6D6D6;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 4px 16px 4px 0;
  margin-right: 8px;
  cursor: pointer;
}
.product__color-img {
  padding: 0 4px 0 0;
}
.product__color-item:hover {
  border: 1px solid #EF8447;
}
.product__color-name {
  font-family: Open-Sans;
  font-size: 16px;
  color: #3E3E3E;
}
.current-img {
  border: 1px solid #EF8447;
}
.product__param-items {
  font-family: Open-Sans;
  font-size: 14px;
  color: #414141;
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #e9e9e9;
}
.product__param-header {
  font-family: Open-Sans;
  font-size: 18px;
  color: #000000;
  margin-bottom: 24px;
}
.product__stamp-type-items {
  font-family: Open-Sans;
  margin-bottom: 24px;
  width: 400px;
  color: #4352BC;
}
.product__stamp-radio {
  display: none;
}
.product__stamp-name {
  padding: 8px 8px;
  cursor: pointer;
  margin-right: -5px;
  border: 1px solid #2E40BC;
}
input[type=radio]:checked + .product__stamp-name {
  color: #fff;
  background: #4352BC;
}
.product__price {
  font-family: 'Montserrat-Bold';
  font-size: 32px;
  color: #F96969;
  margin-bottom: 40px;
}
.product__price-header {
  font-family: Open-Sans;
  font-size: 18px;
  color: #000000;
  margin-bottom: 8px;
}
.product__price-paragraph {
  font-family: Open-Sans;
  font-size: 14px;
  color: #414141;
  margin-bottom: 8px;
}
.product__button-next {
  display: block;
  max-width: 200px;
  text-decoration: none;
  padding: 16px 40px 16px 40px;
  background: #FFCC4D;
  box-shadow: 0px 4px 6px rgba(255, 204, 77, 0.36);
  border-radius: 4px;
  font-size: 14px;
  color: #0B0000;
  text-align: center;
  font-family: 'Montserrat-Bold';
}
.product__button-next:hover {
  background: #FFB600;
}
.product__fast-stamp {
  margin-bottom: 16px;
}
.product__faststamp-name {
  font-family: Open-Sans;
  font-size: 18px;
  color: #000000;
}
.step {
  display: flex;
  font-family: Open-Sans;
  font-size: 14px;
  color: #D1D1D1;
  margin-top: 64px;
}
.step-item {
  margin-right: 24px;
}
.current-step {
  color: #000;
}
@media only screen and (max-width: 1440px) {
  .p-product__breadcrumps-wrapper {
    max-width: 1300px;
  }
  .p-product__wrapper {
    max-width: 1300px;
  }
  .step {
    display: flex;
    font-family: Open-Sans;
    font-size: 12px;
    color: #D1D1D1;
    margin-top: 64px;
  }
  .step-item {
    margin-right: 20px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 1366px) {
  .product__preview {
    max-width: 600px;
  }
}
@media only screen and (max-width: 1280px) {
  .p-product__breadcrumps-wrapper {
    max-width: 1220px;
  }
  .p-product__wrapper {
    max-width: 1220px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 1024px) {
  .p-product__breadcrumps-wrapper {
    max-width: 950px;
  }
  .p-product__wrapper {
    max-width: 950px;
  }
  .product__preview {
    max-width: 500px;
  }
  .product__view {
    width: 500px;
  }
  .product__title {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .p-product__breadcrumps-wrapper {
    max-width: 720px;
  }
  .p-product__wrapper {
    max-width: 720px;
  }
  .product__preview {
    max-width: 300px;
  }
  .product__view {
    width: 250px;
  }
  .product__title {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 414px) {
  .p-product__breadcrumps-wrapper {
    max-width: 360px;
  }
  .p-product__wrapper {
    max-width: 380px;
    flex-wrap: wrap;
  }
  .product__description {
    max-width: 380px;
  }
  .product__preview {
    max-width: 400px;
    margin-bottom: 24px;
  }
  .product__view {
    width: 250px;
  }
  .product__title {
    font-size: 20px;
    margin-bottom: 24px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
  .p-product__breadcrumps-wrapper {
    max-width: 320px;
  }
  .p-product__wrapper {
    max-width: 320px;
    flex-wrap: wrap;
  }
  .product__description {
    max-width: 320px;
  }
  .product__preview {
    max-width: 320px;
    margin-bottom: 24px;
  }
  .product__view {
    width: 250px;
  }
  .product__title {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .product__stamp-type-items {
    font-family: Open-Sans;
    margin-bottom: 24px;
    width: 320px;
    color: #4352BC;
  }
  .product__stamp-name {
    padding: 8px 8px;
    cursor: pointer;
    margin-right: -5px;
    border: 1px solid #2E40BC;
    font-size: 12px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .p-product__breadcrumps-wrapper {
    max-width: 290px;
  }
  .p-product__wrapper {
    max-width: 290px;
    flex-wrap: wrap;
  }
  .product__description {
    max-width: 300px;
  }
  .product__preview {
    max-width: 290px;
    margin-bottom: 24px;
  }
  .product__view {
    width: 250px;
  }
  .product__title {
    font-size: 18px;
    margin-bottom: 16px;
  }
  .product__stamp-type-items {
    font-family: Open-Sans;
    margin-bottom: 24px;
    width: 290px;
    color: #4352BC;
  }
  .product__stamp-name {
    padding: 4px 4px;
    cursor: pointer;
    margin-right: -5px;
    border: 1px solid #2E40BC;
    font-size: 12px;
  }
}
