body,
div,
dl,
dt,
dd,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img,
abbr {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}
legend {
  color: #000;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: 'Montserrat';
}
.page-header {
  max-width: 100%;
  background-image: linear-gradient(14deg, #3244c3 0%, #001356 100%);
}
.page-header-wrapper {
  max-width: 1500px;
  margin: auto;
}
.page-header__menu {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-around;
}
.logo {
  width: 56px;
  margin: 16px;
}
.page-header__item--logo-description {
  margin-right: 32px;
  font-size: 20px;
}
.page-header__list {
  display: flex;
  margin: auto 0;
  justify-content: space-around;
}
.page-header__list a {
  text-decoration: none;
  color: #889cff;
  font-size: 14px;
}
.page-header__list a:hover {
  color: #cacaca;
}
.page-header__item {
  margin-right: 16px;
  font-size: 20px;
}
.nav-dropdown::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 8px;
  margin-right: 16px;
  vertical-align: middle;
  border-width: 6px 4px 0;
  border-style: solid;
  border-color: #161e56 transparent transparent;
}
.main-nav__list {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.main-nav__item {
  margin-right: 24px;
  display: flex;
  align-items: center;
}
.main-nav__item--busket {
  margin-right: 24px;
  display: flex;
  align-items: center;
}
.main-nav__item--mini {
  margin-right: 8px;
  display: flex;
  align-items: center;
  display: none;
}
.main-nav__item--contact {
  margin-right: 24px;
  display: flex;
  align-items: center;
}
.main-nav__icon {
  width: 32px;
  margin-right: 8px;
}
.main-nav__btn {
  padding: 8px 32px 8px 32px;
  border-radius: 6px;
  background-image: linear-gradient(14deg, #ffcf56 0%, #ffc83d 100%);
  color: #000;
  font-family: 'Montserrat SemiBold';
  text-decoration: none;
}
.main-nav__btn:hover {
  background-image: linear-gradient(14deg, #ffcf56 0%, #ffd670 100%);
  color: #0a0a0a;
}
.main-nav__link a {
  color: #fff;
  font-family: 'Montserrat Medium';
  text-decoration: none;
  font-size: 16px;
}
.main-nav__link a:hover {
  color: #cacaca;
}
.page-content {
  max-width: 100%;
  border-bottom: 1px solid #e6e6e6;
}
.page-conten__wrapper {
  max-width: 1420px;
  margin: 0 auto;
}
.secondary-nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat Medium';
  color: #161e56;
}
.secondary-nav__item {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 2px solid rgba(0, 19, 86, 0);
}
.secondary-nav__list a {
  text-decoration: none;
  color: #161e56;
}
.secondary-nav__item:hover {
  border-bottom: 2px solid #ffcf56;
  transition: .2s linear;
  z-index: 10;
}
.nav-dropdown {
  position: relative;
}
.submenu {
  position: absolute;
  background: #FFF;
  top: 36px;
  left: -16px;
  z-index: 5;
  width: 360px;
  font-size: 16px;
  border: 1px solid #e6e6e6;
  padding: 24px 0 24px 0;
  transition: .1s linear;
  font-family: 'Montserrat Medium';
  color: #171717;
}
.submenu li {
  display: flex;
  align-items: center;
  padding: 12px;
  border-left: 1px solid #f8f8f8;
}
.submenu li:hover {
  background: #f8f8f8;
  border-left: 1px solid #ffcf56;
}
.submenu li:active {
  background: #f8f8f8;
  border-left: 1px solid #ffcf56;
}
.submenu {
  visibility: hidden;
  opacity: 0;
}
li:hover > .submenu {
  visibility: visible;
  opacity: 1;
}
.submenu__icon {
  width: 24px;
  margin-right: 16px;
  margin-left: 8px;
}
.submenu a {
  text-decoration: none;
  color: #161e56;
}
.burger_trigger {
  position: absolute;
  top: 25px;
  left: 16px;
  height: 25px;
  width: 25px;
  cursor: pointer;
  display: none;
}
.burger {
  height: 2px;
  width: 24px;
  background-color: #fff;
  position: relative;
  border-radius: 8px;
}
.burger:before,
.burger:after {
  border-radius: 8px;
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 24px;
  background-color: #fff;
  left: 0;
  top: 8px;
}
.burger:after {
  top: 16px;
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 1440px) {
  .page-header-wrapper {
    max-width: 1366px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 24px;
  }
  .page-header__item--logo-description {
    font-size: 20px;
  }
  .main-nav__item--contact {
    align-items: center;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 1300px;
  }
  .secondary-nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Montserrat Medium';
    color: #161e56;
  }
  .submenu {
    top: 9px;
    left: 0px;
    width: 320px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 1024px) {
  .page-header-wrapper {
    max-width: 1024px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 64px;
  }
  .page-header__item--logo-description {
    font-size: 16px;
  }
  .page-header__item {
    display: none;
  }
  .main-nav__item--contact {
    display: none;
    align-items: center;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 1024px;
  }
  .secondary-nav__list {
    flex-wrap: wrap;
    visibility: hidden;
    height: 1px;
  }
  .burger_trigger {
    display: block;
  }
  .submenu {
    top: 9px;
    left: 0px;
    width: 320px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 992px) {
  .page-header-wrapper {
    max-width: 960px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 64px;
  }
  .page-header__item--logo-description {
    font-size: 16px;
  }
  .page-header__item {
    display: none;
  }
  .main-nav__item--contact {
    display: none;
    align-items: center;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 960px;
  }
  .secondary-nav__list {
    flex-wrap: wrap;
    visibility: hidden;
    height: 1px;
  }
  .burger_trigger {
    display: block;
  }
  .submenu {
    top: 9px;
    left: 0px;
    width: 320px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 768px) {
  .page-header-wrapper {
    max-width: 768px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 64px;
  }
  .page-header__item--logo-description {
    font-size: 12px;
  }
  .page-header__item {
    display: none;
  }
  .main-nav__item--contact {
    display: none;
    align-items: center;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 768px;
  }
  .secondary-nav__list {
    flex-wrap: wrap;
    visibility: hidden;
    height: 1px;
  }
  .burger_trigger {
    display: block;
  }
  .main-nav__btn {
    display: none;
  }
  .submenu {
    top: -17px;
    left: 0px;
    width: 320px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 414px) {
  .page-header-wrapper {
    max-width: 414px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 185px;
  }
  .page-header__item--logo-description {
    display: none;
  }
  .page-header__item {
    display: none;
  }
  .main-nav__item--contact {
    display: none;
    align-items: center;
  }
  .main-nav__item {
    margin-right: 0px;
    display: none;
  }
  .main-nav__item--mini {
    margin-right: 8px;
    display: flex;
    align-items: center;
    display: block;
  }
  .main-nav__item--busket {
    margin-right: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 45px;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 414px;
  }
  .secondary-nav__list {
    flex-wrap: wrap;
    visibility: hidden;
    height: 1px;
  }
  .burger_trigger {
    display: block;
  }
  .submenu {
    top: -17px;
    left: 0px;
    width: 412px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
  .page-header-wrapper {
    max-width: 375px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 165px;
  }
  .page-header__item--logo-description {
    display: none;
  }
  .page-header__item {
    display: none;
  }
  .main-nav__item--contact {
    display: none;
    align-items: center;
  }
  .main-nav__item {
    margin-right: 0px;
    display: none;
  }
  .main-nav__item--busket {
    margin-right: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 35px;
  }
  .main-nav__item--mini {
    margin-right: 8px;
    display: flex;
    align-items: center;
    display: block;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 375px;
  }
  .secondary-nav__list {
    flex-wrap: wrap;
    visibility: hidden;
    height: 1px;
  }
  .burger_trigger {
    display: block;
  }
  .submenu {
    top: -17px;
    left: 0px;
    width: 373px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/**/
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .page-header-wrapper {
    max-width: 320px;
  }
  .logo {
    width: 32px;
    margin: 16px 16px 16px 140px;
  }
  .page-header__item--logo-description {
    display: none;
  }
  .page-header__item {
    display: none;
  }
  .main-nav__item--contact {
    display: none;
    align-items: center;
  }
  .main-nav__item {
    margin-right: 0px;
    display: none;
  }
  .main-nav__item--busket {
    margin-right: 24px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 35px;
  }
  .main-nav__item--mini {
    margin-right: 8px;
    display: flex;
    align-items: center;
    display: block;
  }
  .main-nav__icon {
    width: 32px;
  }
  .page-conten__wrapper {
    max-width: 320px;
  }
  .secondary-nav__list {
    flex-wrap: wrap;
    visibility: hidden;
    height: 1px;
  }
  .burger_trigger {
    display: block;
  }
  .submenu {
    top: -17px;
    left: 0px;
    width: 318px;
    font-size: 16px;
    transition: .1s linear;
    display: none;
  }
  .submenu {
    visibility: visible;
    opacity: 1;
  }
  .submenu__open {
    display: block;
  }
}
/**/
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat Medium';
  src: url('../fonts/Montserrat-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat SemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../fonts/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat-Black';
  src: url('../../fonts/Montserrat-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'Open-Sans';
  src: url('../../fonts/OpenSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Open-Sans-Bold';
  src: url('../../fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Open-Sans-Extra';
  src: url('../../fonts/OpenSans-ExtraBold.ttf') format('truetype');
}
h6 {
  font-family: Montserrat-Black;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
}
.beating {
  margin-bottom: 15px;
  margin-top: 20px;
}
.stamppage {
  max-width: 100%;
  padding-bottom: 66px;
  padding-top: 44px;
  padding-left: 20px;
}
.stamppage-wrapper {
  max-width: 1420px;
  margin: auto;
}
.stamppage-promo {
  display: flex;
  align-items: center;
}
.stamppage-name {
  width: 600px;
  margin-right: 250px;
}
.stamppage-triger ul {
  display: flex;
  font-family: Montserrat-Black;
  font-size: 12px;
  text-transform: uppercase;
  color: #c7c7c7;
}
.stamppage-triger li {
  margin-right: 16px;
}
.stamppage-header {
  font-family: Montserrat-Black;
  font-size: 44px;
  color: #222222;
  margin-top: 20px;
  margin-bottom: 28px;
}
.stamppage-description {
  font-family: Open-Sans;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  color: #222222;
  margin-bottom: 60px;
}
.stamppage-button {
  padding: 16px 32px 16px 32px;
  font-family: 'Montserrat Medium';
  font-size: 18px;
  background: #FFCC4D;
  box-shadow: 0px 4px 6px rgba(255, 204, 77, 0.36);
  text-decoration: none;
  color: #000;
  border-radius: 4px;
  transition-duration: 0.3s;
}
.stamppage-button:hover {
  background: #FFB600;
  box-shadow: 0px 4px 20px rgba(211, 168, 59, 0.36);
}
.stamppage-img {
  width: 300px;
}
.stamporder {
  max-width: 100%;
  background: #F6F6F6;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 20px;
}
.stamporder__item-wrapper {
  margin-bottom: 44px;
}
.stamporder__item:hover {
  box-shadow: 0px 10px 50px rgba(212, 212, 212, 0.36);
}
.stamporder__item-wrapper--link {
  text-decoration: none;
}
.stamporder-wrapper {
  max-width: 1420px;
  margin: auto;
}
.stamppage-title {
  font-family: Montserrat-Black;
  font-size: 30px;
  color: #222222;
  margin-bottom: 40px;
}
.stamporder__items {
  display: flex;
  flex-wrap: wrap;
}
.stamporder__item {
  background: #fff;
  width: 320px;
  border-radius: 8px;
  margin-right: 24px;
  box-sizing: border-box;
  border: 1px solid #F2F2F2;
  transition-duration: 0.5s;
}
.stamporder-cart {
  padding: 20px;
}
.stamporder-img {
  margin: auto;
}
.stamporder-cost__wrapper {
  display: flex;
  max-width: 260px;
  align-items: center;
  justify-content: space-between;
}
.stamporder-cost {
  font-family: 'Montserrat-Bold';
  font-size: 18px;
  color: #EB5757;
}
.stamporder-cost__fast {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.stamporder-cost__fast img {
  margin-right: 8px;
}
.stamporder-cost__fast p {
  font-family: Montserrat-Black;
  font-size: 12px;
  text-transform: uppercase;
  color: #828282;
}
.stamporder-cart h3 {
  font-family: Montserrat-Black;
  font-size: 19px;
  color: #333333;
  margin-top: 12px;
  margin-bottom: 8px;
}
.stamporder-cart__description {
  font-family: Open-Sans;
  font-size: 14px;
  color: #333333;
}
.stamporder__button {
  text-decoration: none;
  color: #000;
  font-family: Open Sans;
  font-size: 18px;
}
.stamporder__button__wrapper {
  display: flex;
  background: #ffffff;
  max-width: 280px;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}
.stamporder__button--first {
  background: #FFCC4D;
}
.stamporder__button__wrapper:hover {
  background: #FFB600;
}
.stamporder__optons-wrapper {
  width: 300px;
}
.stamporder-optons {
  padding: 20px;
}
.stamporder-optons h3 {
  font-family: Montserrat-Black;
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}
.stamporder-optons h3:before {
  content: "";
  display: block;
  background: url("../img/fast-cost-icon.svg") no-repeat;
  width: 16px;
  height: 20px;
  float: left;
  margin: 0 0px 0 0;
  margin-left: -20px;
}
.stamporder-optons h3.table-header:before {
  content: "";
  display: block;
  background: url("../img/options-cost-icon.svg") no-repeat;
  width: 16px;
  height: 20px;
  float: left;
  margin: 0 0px 0 0;
  margin-left: -20px;
}
.upsale-price {
  width: 260px;
  color: #333333;
}
.upsale-price th {
  font-family: Montserrat-Black;
  font-size: 10px;
  font-weight: 700;
  padding: 4px 0 4px 0;
}
.upsale-price td {
  font-family: Open-Sans;
  font-size: 14px;
  padding: 4px 0 4px 0;
  border-bottom: 1px solid #e2e2e2;
}
.filter {
  display: flex;
  background: #fff;
  font-family: Open-Sans;
  font-size: 14px;
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 3px;
  max-width: 1300px;
}
.filter-item {
  margin-right: 24px;
}
.sort {
  color: #747474;
}
.catalog-items__wrapper {
  max-width: 1420px;
  margin: auto;
}
.catalog__items {
  display: flex;
  flex-wrap: wrap;
}
.catalog__item {
  flex-direction: row;
  align-items: stretch;
  width: 320px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.product__link {
  display: block;
  position: relative;
  border: 1px solid transparent;
  border-radius: 4px;
  background: #fff;
  color: #000;
  text-decoration: none;
  transition-duration: 0.3s;
}
.product__link:hover {
  box-shadow: 0px 5px 30px rgba(202, 202, 202, 0.36);
}
.product__image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 230px;
}
.product__img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  transition: all 0.3s ease 0s;
}
.product__img:hover {
  transform: scale(0.95);
}
.product__colors {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 30px;
}
.product__color {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
.product__color:hover {
  background: #fff;
  opacity: 0.5;
}
.product__color-img {
  display: block;
  max-height: 100%;
}
.product__title {
  font-family: Open-Sans;
  font-size: 14px;
  display: block;
  margin-bottom: 7px;
  padding: 0 20px;
}
.product__price {
  display: block;
  right: 0;
  bottom: 0;
  left: 0;
  font-family: 'Montserrat-Bold';
  padding: 17px 0 18px 24px;
  font-size: 16px;
  line-height: 1;
  border-top: 1px solid #f2f2f2;
  transition: all 0.3s ease 0s;
}
.product__price:hover {
  color: red;
}
.product__arrow {
  font-family: 'Montserrat-Bold';
  font-size: 16px;
}
.stamporder-template {
  max-width: 100%;
  background: #1d1d1d;
  padding: 44px 0 0 0;
}
.stamporder-template__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.white {
  color: #fff;
}
.stamporder-template__items {
  display: flex;
}
.stamporder-template__item a {
  margin-right: 100px;
  color: #fff;
  line-height: 2;
  font-family: Open-Sans;
  font-family: Open Sans;
  font-size: 24px;
}
.stamporder-template__items img {
  max-width: 100%;
}
@media only screen and (max-width: 1440px) {
  .stamppage-wrapper {
    max-width: 1300px;
  }
  .stamporder-wrapper {
    max-width: 1300px;
  }
  .stamporder__item {
    width: 300px;
  }
  .stamporder__button__wrapper {
    max-width: 260px;
  }
  .catalog-items__wrapper {
    max-width: 1300px;
    margin: auto;
  }
  .catalog__item {
    flex-direction: row;
    align-items: stretch;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .stamporder__items {
    display: flex;
    flex-wrap: wrap;
  }
  .catalog__item {
    max-width: 300px;
  }
  .stamporder-template__wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
  .filter {
    max-width: 1230px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 1366px) {
  .stamppage {
    padding-left: 30px;
  }
  .stamppage-wrapper {
    max-width: 1366px;
    margin: auto;
  }
  .stamporder {
    margin-top: 0px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .stamporder-wrapper {
    max-width: 1300px;
  }
  .stamporder__item {
    width: 300px;
  }
  .stamporder__button__wrapper {
    max-width: 260px;
  }
  .catalog-items__wrapper {
    max-width: 1300px;
    margin: auto;
  }
  .stamporder-template__wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1280px) {
  .stamppage {
    padding-left: 30px;
  }
  .stamppage-wrapper {
    max-width: 1366px;
    margin: auto;
  }
  .stamporder {
    margin-top: 0px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
  .stamporder-wrapper {
    max-width: 1220px;
  }
  .stamporder__item {
    width: 280px;
  }
  .stamporder__button__wrapper {
    max-width: 240px;
  }
  .stamporder__items {
    display: flex;
    flex-wrap: wrap;
  }
  .catalog-items__wrapper {
    max-width: 1220px;
    margin: auto;
  }
  .catalog__item {
    max-width: 280px;
  }
  .stamporder-template__wrapper {
    max-width: 1220px;
    margin: 0 auto;
  }
  .stamporder-template__item a {
    margin-right: 60px;
  }
  .filter {
    max-width: 1150px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 1024px) {
  .stamppage {
    padding-left: 20px;
    margin-top: 20px;
  }
  .stamppage-wrapper {
    max-width: 950px;
    margin: auto;
  }
  .stamppage-name {
    width: 600px;
    margin-right: 80px;
  }
  .stamporder {
    margin-top: 0px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 0px;
  }
  .stamporder-wrapper {
    max-width: 950px;
  }
  .stamporder__item {
    width: 220px;
    margin-right: 16px;
  }
  .stamporder__button__wrapper {
    max-width: 180px;
  }
  .stamporder__optons-wrapper {
    max-width: 220px;
  }
  .upsale-price {
    width: 200px;
  }
  .upsale-price td {
    font-size: 12px;
  }
  .stamporder__items {
    display: flex;
    flex-wrap: wrap;
  }
  .catalog-items__wrapper {
    max-width: 950px;
    margin: auto;
  }
  .catalog__item {
    max-width: 220px;
    margin-right: 16px;
  }
  .stamporder-template__wrapper {
    max-width: 950px;
    margin: 0 auto;
  }
  .stamporder-template__item a {
    margin-right: 20px;
    line-height: 1.5;
    display: block;
    width: 300px;
    font-size: 22px;
  }
  .stamporder-template__item li {
    margin-bottom: 15px;
  }
  .stamporder-template__items img {
    display: none;
  }
  .filter {
    max-width: 900px;
  }
}
@media only screen and (max-width: 768px) {
  .stamppage {
    padding-left: 10px;
    margin-top: 20px;
  }
  .stamppage-wrapper {
    max-width: 740px;
    margin: auto;
  }
  .stamppage-name {
    width: 600px;
    margin-right: 40px;
  }
  .stamppage-header {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 28px;
  }
  .stamporder {
    margin-top: 0px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 10px;
  }
  .stamporder-wrapper {
    max-width: 720px;
  }
  .stamppage-title {
    font-size: 23px;
    margin-bottom: 40px;
  }
  .stamporder__items {
    flex-wrap: wrap;
  }
  .stamporder__item {
    width: 320px;
  }
  .stamporder__button__wrapper {
    max-width: 280px;
  }
  .stamporder__optons-wrapper {
    width: 300px;
  }
  .upsale-price {
    width: 200px;
  }
  .upsale-price td {
    font-size: 14px;
  }
  .catalog-items__wrapper {
    max-width: 720px;
    margin: auto;
  }
  .stamporder-template__wrapper {
    max-width: 720px;
    margin: 0 auto;
  }
  .stamporder-template__item a {
    margin-right: 16px;
    line-height: 1.2;
    display: block;
    width: 300px;
    font-size: 18px;
  }
  .stamporder-template__item li {
    margin-bottom: 15px;
  }
  .stamporder-template__items img {
    display: none;
  }
  .filter {
    max-width: 660px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 414px) {
  .stamppage {
    margin-top: 20px;
  }
  .stamppage-wrapper {
    max-width: 400px;
  }
  .stamporder__item-wrapper {
    margin-bottom: 0px;
  }
  .stamppage-promo {
    padding-left: 20px;
  }
  .stamppage-name {
    max-width: 320px;
    margin-right: 10px;
  }
  .stamppage-triger ul {
    font-size: 12px;
  }
  .stamppage-triger li {
    margin-right: 16px;
  }
  .stamppage-header {
    font-family: Montserrat-Black;
    font-size: 24px;
    color: #222222;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .stamppage-description {
    font-family: Open-Sans;
    font-size: 16px;
    color: #222222;
    margin-bottom: 40px;
  }
  .stamppage-button {
    font-size: 16px;
  }
  .stamppage-img {
    display: none;
  }
  .stamporder {
    max-width: 100%;
    margin-top: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
  }
  .stamporder-wrapper {
    max-width: 414px;
  }
  .stamppage-title {
    font-size: 22px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .stamporder__items {
    display: flex;
  }
  .stamporder__item {
    width: 414px;
    border-radius: 0px;
    margin-right: 0px;
  }
  .stamporder-cart {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .stamporder-img {
    margin: auto;
    max-width: 120px;
  }
  .stamporder-cost__wrapper {
    max-width: 240px;
  }
  .stamporder-cost {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    color: #EB5757;
  }
  .stamporder-cost__fast {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  .stamporder-cost__fast img {
    margin-right: 8px;
  }
  .stamporder-cost__fast p {
    font-family: Montserrat-Black;
    font-size: 12px;
    text-transform: uppercase;
    color: #828282;
  }
  .stamporder-cart h3 {
    font-family: Montserrat-Black;
    font-size: 19px;
    color: #333333;
    margin-top: 12px;
    margin-bottom: 8px;
  }
  .stamporder-cart__description {
    font-family: Open-Sans;
    font-size: 14px;
    color: #333333;
  }
  .stamporder__button {
    display: none;
  }
  .stamporder-optons {
    padding: 20px 20px 20px 40px;
  }
  .upsale-price {
    width: 300px;
  }
  .items-title {
    margin-left: 30px;
  }
  .catalog-items__wrapper {
    max-width: 390px;
    margin: auto;
  }
  .catalog__item {
    max-width: 320px;
    margin: 20px auto;
  }
  .stamporder-template__wrapper {
    max-width: 390px;
    margin: 0 auto;
  }
  .stamporder-template__items {
    display: flex;
    flex-wrap: wrap;
  }
  .stamporder-template__item a {
    margin-right: 0;
    line-height: 1.2;
    display: block;
    width: 300px;
    font-size: 16px;
  }
  .stamporder-template__item li {
    margin-bottom: 15px;
    padding-left: 30px;
  }
  .stamporder-template__items img {
    display: none;
  }
  .filter {
    max-width: 305px;
    margin: 0 auto;
    background: none;
  }
  .sort {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
  .stamporder {
    max-width: 100%;
    margin-top: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0;
  }
  .stamporder-wrapper {
    max-width: 375px;
  }
  .stamppage-title {
    font-size: 22px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .stamporder__items {
    display: flex;
  }
  .stamporder__item {
    max-width: 375px;
    border-radius: 0px;
    margin-right: 0px;
  }
  .stamporder-cart {
    padding: 20px;
    display: flex;
    align-items: center;
  }
  .stamporder-img {
    margin: auto;
    max-width: 120px;
  }
  .stamporder-cost__wrapper {
    max-width: 240px;
  }
  .stamporder-cost {
    font-family: 'Montserrat-Bold';
    font-size: 18px;
    color: #EB5757;
  }
  .stamporder-cost__fast {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
  .stamporder-cost__fast img {
    margin-right: 8px;
  }
  .stamporder-cost__fast p {
    font-family: Montserrat-Black;
    font-size: 12px;
    text-transform: uppercase;
    color: #828282;
  }
  .stamporder-cart h3 {
    font-family: Montserrat-Black;
    font-size: 19px;
    color: #333333;
    margin-top: 12px;
    margin-bottom: 8px;
  }
  .stamporder-cart__description {
    font-family: Open-Sans;
    font-size: 14px;
    color: #333333;
  }
  .stamporder__button {
    display: none;
  }
  .items-title {
    margin-left: 30px;
  }
  .catalog-items__wrapper {
    max-width: 320px;
    margin: auto;
  }
  .catalog__item {
    flex-direction: row;
    align-items: stretch;
    width: 300px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .filter {
    max-width: 300px;
    margin: 0 auto;
    background: none;
    padding: 0;
  }
  .sort {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .stamppage {
    padding-top: 10px;
  }
  .stamppage-wrapper {
    max-width: 320px;
    margin: auto;
  }
  .stamppage-promo {
    padding-left: 20px;
  }
  .stamppage-name {
    max-width: 320px;
    margin-right: 20px;
  }
  .stamppage-triger ul {
    font-size: 12px;
  }
  .stamporder-cart h3 {
    font-size: 14px;
  }
  .stamporder-cart__description {
    font-size: 14px;
  }
  .stamppage-triger li {
    margin-right: 16px;
  }
  .stamppage-header {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .stamppage-description {
    font-size: 16px;
    margin-bottom: 40px;
  }
  .stamppage-button {
    font-size: 16px;
  }
  .stamppage-img {
    display: none;
  }
  .stamporder {
    padding-left: 0;
  }
  .stamporder-wrapper {
    max-width: 320px;
  }
  .catalog-items__wrapper {
    max-width: 320px;
    margin: auto;
  }
  .catalog__item {
    flex-direction: row;
    align-items: stretch;
    max-width: 280px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  .stamporder__item {
    max-width: 320px;
    border-radius: 0px;
    margin-right: 0px;
  }
  .stamporder-optons {
    padding: 40px 20px 20px 30px;
  }
  .upsale-price {
    width: 270px;
  }
  .items-title {
    margin-left: 30px;
  }
  .stamporder-template__wrapper {
    max-width: 320px;
    margin: 0 auto;
  }
  .stamporder-template__items {
    display: flex;
    flex-wrap: wrap;
  }
  .stamporder-template__item a {
    margin-right: 0;
    line-height: 1.2;
    display: block;
    width: 280px;
    font-size: 16px;
  }
  .stamporder-template__item li {
    margin-bottom: 15px;
    padding-left: 30px;
  }
  .stamporder-template__items img {
    display: none;
  }
  .filter {
    max-width: 280px;
    margin: 0 auto;
    background: none;
    padding: 0;
    font-size: 13px;
  }
  .sort {
    display: none;
  }
}
.page-product {
  max-width: 100%;
}
.page-product-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 64px;
  padding-left: 20px;
}
.product-form__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.product-form__title {
  font-family: Montserrat-Black;
  font-size: 24px;
  color: #222222;
  margin-bottom: 24px;
}
.cart-order {
  display: flex;
  align-items: flex-start;
}
.cart {
  margin-right: 64px;
}
.product-form__header {
  font-family: 'Open-Sans-Extra';
  font-size: 16px;
  color: #353535;
  margin-bottom: 8px;
}
.product-form__paragraph {
  font-family: Open-Sans;
  font-size: 14px;
  color: #414141;
  margin-bottom: 24px;
}
.product-form__firm-items {
  display: flex;
  margin-bottom: 44px;
}
.product__stamp-type-items {
  font-family: Open-Sans;
  margin-bottom: 24px;
  width: 400px;
  color: #4352BC;
}
.product-form__firm-item {
  margin-top: 16px;
}
.firm-item__radio {
  display: none;
}
.product-form__info-items {
  margin-bottom: 64px;
}
.uploadbutton {
  margin-top: 16px;
  padding: 8px 8px;
  font-family: 'Open-Sans-Bold';
  font-size: 14px;
  border: 1px solid #797979;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: #797979;
  max-width: 200px;
}
.uploadbutton:hover {
  border: 1px solid #2E40BC;
  color: #2E40BC;
}
.product-form__file {
  display: block;
  opacity: 0;
  appearance: none;
}
.firm-item__label {
  font-family: 'Open-Sans-Extra';
  padding: 8px 16px;
  cursor: pointer;
  margin-right: -1px;
  border: 1px solid #2E40BC;
  color: #4352BC;
}
input[type=radio]:checked + .firm-item__label {
  color: #fff;
  background: #4352BC;
}
.product-form__info-item {
  position: relative;
  margin-bottom: 24px;
  font-size: 14px;
  font-family: Open-Sans;
  color: #000;
}
.product-form__info-field {
  border: none;
  border-bottom: 1px solid #d6d6d6;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  -webkit-appearance: none;
}
.product-form__info-name {
  color: #999;
  position: absolute;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  font-size: 16px;
}
.product-form__info-field:focus {
  outline: none;
  border-bottom-color: #7a09e4;
}
.product-form__info-field:focus ~ .product-form__info-name,
.product-form__info-field:valid ~ .product-form__info-name {
  top: -10px;
  font-size: 11px;
  color: #b1b1b1;
}
.info-name__error-message {
  font-size: 14px;
  color: #ff0000;
}
.product__button-next {
  display: block;
  max-width: 200px;
  text-decoration: none;
  padding: 16px 40px 16px 40px;
  background: #FFCC4D;
  box-shadow: 0px 4px 6px rgba(255, 204, 77, 0.36);
  border-radius: 4px;
  font-size: 14px;
  color: #0B0000;
  text-align: center;
  font-family: 'Montserrat-Bold';
}
.product__button-next:hover {
  background: #FFB600;
}
.product-form__order-info {
  width: 320px;
  padding: 24px 16px;
  border-radius: 4px;
  box-shadow: 0 9px 46px 0 rgba(0, 0, 0, 0.06);
}
.order-info__title {
  font-family: 'Open-Sans-Extra';
  font-size: 16px;
  color: #353535;
  margin-bottom: 8px;
}
.order-info__preview-items {
  display: flex;
  border-bottom: 1px solid #ddddec;
  margin-bottom: 24px;
}
.order-info__img {
  max-width: 150px;
  margin-right: 8px;
}
.order-info__description {
  font-family: Open-Sans;
  font-size: 14px;
  color: #414141;
  margin-bottom: 8px;
}
.order-info__cost {
  font-family: 'Open-Sans-Extra';
  font-size: 14px;
  color: #414141;
}
.order-info__quantity {
  font-family: Open-Sans;
  font-size: 12px;
  color: #797979;
  margin-bottom: 24px;
}
.order-info__total {
  font-family: Open-Sans;
  font-size: 14px;
  color: #797979;
}
.order-info__total-goods {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.order-info__total-check {
  display: flex;
  justify-content: space-between;
  font-family: 'Open-Sans-Bold';
  color: #222;
  font-size: 14px;
}
.order-info__goods-price {
  font-family: 'Open-Sans-Bold';
  color: #222;
}
.step {
  display: flex;
  font-family: Open-Sans;
  font-size: 14px;
  color: #D1D1D1;
  margin-top: 64px;
}
.step-item {
  margin-right: 24px;
}
.current-step {
  color: #000;
}
@media only screen and (max-width: 1440px) {
  .page-product-wrapper {
    max-width: 1300px;
  }
  .step {
    display: flex;
    font-family: Open-Sans;
    font-size: 12px;
    color: #D1D1D1;
    margin-top: 64px;
  }
  .step-item {
    margin-right: 20px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 1280px) {
  .page-product-wrapper {
    max-width: 1220px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 1024px) {
  .page-product-wrapper {
    max-width: 950px;
  }
  .product-form__order-info {
    width: 250px;
  }
}
@media only screen and (max-width: 768px) {
  .page-product-wrapper {
    max-width: 720px;
  }
  .product-form__order-info {
    display: none;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 414px) {
  .page-product-wrapper {
    max-width: 375px;
  }
  .product-form__order-info {
    display: none;
  }
  .product-form__info-field {
    font-size: 16px;
  }
  .page-product-wrapper {
    padding-left: 0px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
  .page-product-wrapper {
    max-width: 320px;
  }
  .product-form__order-info {
    display: none;
  }
  .product-form__title {
    font-family: Montserrat-Black;
    font-size: 20px;
    color: #222222;
    margin-bottom: 16px;
  }
  .product-form__header {
    font-family: 'Open-Sans-Extra';
    font-size: 14px;
    color: #353535;
    margin-bottom: 8px;
  }
  .product-form__paragraph {
    font-family: Open-Sans;
    font-size: 14px;
    color: #414141;
    margin-bottom: 16px;
  }
  .product-form__firm-items {
    display: flex;
    margin-bottom: 30px;
  }
  .product-form__info-field {
    font-size: 16px;
  }
  .page-product-wrapper {
    padding-left: 0px;
  }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .page-product-wrapper {
    max-width: 290px;
  }
  .page-product-wrapper {
    padding-left: 0px;
  }
  .product-form__info-field {
    font-size: 16px;
    width: 260px;
  }
}
