@import "part/reset.less";
@import "part/var.less";
@import "part/menu.less";
@import "part/fonts.less";
@import "part/typo.less";


h1 {
    color: @accent-color;
}

.stamppage {
    max-width: 100%;
    margin-top: 24px;
  }

.stamppage-wrapper {
    max-width: 1420px;
    margin: auto;
  }
  
.stamppage-promo {
    display: flex;
}

.stamppage-name {
     width: 600px;
}

.stamppage-triger {}

.description {}

.stamppage-button {}

.stamppage-img {
    width: 300px;
}

.stamppage-nav{

}

