@media only screen and (max-width : 1440px) {
    .stamppage-wrapper {
        max-width: 1300px;
        
      }

      .stamporder-wrapper {
        max-width: 1300px;
      }

      .stamporder__item {
        width: 300px;
    }

    .stamporder__button__wrapper {
        max-width: 260px;
    }

    .catalog-items__wrapper {
        max-width: 1300px;
        margin: auto;
        
    }

    .catalog__item {
        // display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 300px;
       margin-right: 20px;
       margin-bottom: 20px;
    }

    .stamporder__items {
        display: flex;
        flex-wrap: wrap;
    }

    .catalog__item {
        
        max-width: 300px;
       
      }


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 1366px) {

    .stamppage {
        padding-left: 30px;
      }
    
    .stamppage-wrapper {
        max-width: 1366px;
        margin: auto;
      }

    //________________________________________________

    .stamporder {

        margin-top: 0px;
        padding-top: 36px;
        padding-bottom: 36px;
      }

    .stamporder-wrapper {
        max-width: 1300px;
      }
    
    .stamporder__item {
        width: 300px;
    }

    .stamporder__button__wrapper {
        max-width: 260px;
    }

    .catalog-items__wrapper {
        max-width: 1300px;
        margin: auto;
        
    }

    

}

@media only screen and (max-width : 1280px) {

    .stamppage {
        padding-left: 30px;
      }
    
    .stamppage-wrapper {
        max-width: 1366px;
        margin: auto;
      }

         //________________________________________________
    .stamporder {

        margin-top: 0px;
        padding-top: 36px;
        padding-bottom: 36px;
    }
    
         
    .stamporder-wrapper {
        max-width: 1220px;
    }

    .stamporder__item {
        width: 280px;
    }

    .stamporder__button__wrapper {
        max-width: 240px;
    }

    .stamporder__items {
        display: flex;
        flex-wrap: wrap;
    }


    .catalog-items__wrapper {
        max-width: 1220px;
        margin: auto;
        
    }


    .catalog__item {
        max-width: 280px;
      }

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 1024px) {
    .stamppage {
        padding-left: 20px;
        margin-top: 20px;
      }
    
    .stamppage-wrapper {
        max-width: 950px;
        margin: auto;
      }

      .stamppage-name {
        width: 600px;
        margin-right: 80px;
   }

    //________________________________________________

    .stamporder {
        margin-top: 0px;
        padding-top: 36px;
        padding-bottom: 36px;
      }

    .stamporder-wrapper {
        max-width: 950px;
    }
    
    .stamporder__item {
        width: 220px;
        margin-right: 16px;
    }

    .stamporder__button__wrapper {
        max-width: 180px;
    }

    .stamporder__optons-wrapper {
        max-width: 220px;
    }

    .upsale-price {
        width: 200px;
    }

    .upsale-price td {
        font-size: 12px;
    }

    .stamporder__items {
        display: flex;
        flex-wrap: wrap;
    }

    .catalog-items__wrapper {
        max-width: 950px;
        margin: auto;
    }


    .catalog__item {
        max-width: 220px;
        margin-right: 16px;
      }
    
}

@media only screen and (max-width : 768px) {
    .stamppage {
        padding-left: 10px;
        margin-top: 20px;
      }
    
    .stamppage-wrapper {
        max-width: 740px;
        margin: auto;
      }

      .stamppage-name {
        width: 600px;
        margin-right: 40px;
   }
   .stamppage-header {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 28px;  
}
//_____________________________________________________________

.stamporder {

    margin-top: 0px;
    padding-top: 36px;
    padding-bottom: 36px;
  }


.stamporder-wrapper {
    max-width: 720px;
  }

  .stamppage-title {
    font-size: 23px;
    margin-bottom: 40px;

}

.stamporder__items {
    flex-wrap: wrap;
    
}

.stamporder__item {
    width: 320px;
}

.stamporder__button__wrapper {
    max-width: 280px;
}

.stamporder__optons-wrapper {
    width: 300px;
}

.upsale-price {
    width: 200px;
}

.upsale-price td {
    font-size: 14px;
}

.catalog-items__wrapper {
    max-width: 720px;
    margin: auto;
    
}


}

/* Custom, iPhone Retina */
@media only screen and (max-width : 414px) {

        .stamppage {
        margin-top: 20px;
      }
    
    .stamppage-wrapper {
        max-width: 400px;
      }

      .stamporder__item-wrapper {
        margin-bottom: 0px;
    }
      
    .stamppage-promo {
        padding-left: 20px;
    }
    
    .stamppage-name {
         max-width: 320px;
         margin-right: 10px;
    }
    
    .stamppage-triger ul{
        font-size: 12px;
    }
    
    .stamppage-triger li {
        margin-right: 16px;
    }
    
    .stamppage-header {
        font-family: @font-headers;
        font-size: 24px;
        color: #222222;
        margin-top: 20px;
        margin-bottom: 20px;  
    }
    
    .stamppage-description {
    
        font-family: @font-body;
        font-size: 16px;
        color: #222222;
        margin-bottom: 40px;  
    }
    
    .stamppage-button {
        font-size: 16px; 
    }
    
    .stamppage-img {
        display: none;
        
    }

    //_____________________________________________________________

.stamporder {
    max-width: 100%;
    margin-top: 0px;
    padding-top: 32px;
    padding-bottom: 32px;
  }



.stamporder-wrapper {
    max-width: 414px;
    
  }

  .stamppage-title {
    font-size: 22px;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;

}

.stamporder__items {
    display: flex;
}

.stamporder__item {
 
    width: 414px;
    border-radius: 0px;
    margin-right: 0px;
   
    
}

.stamporder-cart {
    padding: 20px;
    display: flex;
    align-items: center;
}
.stamporder-img {
    margin:  auto;
    max-width: 120px;
}

.stamporder-cost__wrapper {
    
    max-width: 240px;
}

.stamporder-cost {
    font-family: @font-bold;
    font-size: 18px;
    color: #EB5757;
}
.stamporder-cost__fast {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    
}
.stamporder-cost__fast img {
    margin-right: 8px;
}

.stamporder-cost__fast p{
    font-family: @font-headers;
    font-size: 12px;
    text-transform: uppercase;
    color: #828282;
}
.stamporder-cart h3 {
    font-family: @font-headers;
    font-size: 19px;
    color: #333333;
    margin-top: 12px;
    margin-bottom: 8px;
}

.stamporder-cart__description {
    font-family: @font-body;
    font-size: 14px;
    color: #333333;
}

.stamporder__button {
    display: none;
}

.stamporder-optons {
    padding: 20px 20px 20px 40px;  
}

.upsale-price {
    width: 300px;
}
.items-title {
    margin-left: 30px;
}

.catalog-items__wrapper {
    max-width: 390px;
    margin: auto;
    
}

.catalog__item {
    // display: flex;
    // flex-direction: row;
    // align-items: stretch;
    max-width: 320px;
//    margin-right: 20px;
//    margin-bottom: 20px;
   margin: 20px auto;
}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 375px) {
    .stamporder {
        max-width: 100%;
        margin-top: 0px;
        padding-top: 32px;
        padding-bottom: 32px;
      }
    
    
    
    .stamporder-wrapper {
        max-width: 375px;
      }
    
      .stamppage-title {
        font-size: 22px;
        margin-bottom: 30px;
        margin-left: 30px;
        margin-right: 30px;
    
    }
    
    .stamporder__items {
        display: flex;
    }
    
    .stamporder__item {
        max-width: 375px;
        border-radius: 0px;
        margin-right: 0px;
    }
    
    .stamporder-cart {
        padding: 20px;
        display: flex;
        align-items: center;
    }
    .stamporder-img {
        margin:  auto;
        max-width: 120px;
    }
    
    .stamporder-cost__wrapper {
        
        max-width: 240px;
    }
    
    .stamporder-cost {
        font-family: @font-bold;
        font-size: 18px;
        color: #EB5757;
    }
    .stamporder-cost__fast {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        
    }
    .stamporder-cost__fast img {
        margin-right: 8px;
    }
    
    .stamporder-cost__fast p{
        font-family: @font-headers;
        font-size: 12px;
        text-transform: uppercase;
        color: #828282;
    }
    .stamporder-cart h3 {
        font-family: @font-headers;
        font-size: 19px;
        color: #333333;
        margin-top: 12px;
        margin-bottom: 8px;
    }
    
    .stamporder-cart__description {
        font-family: @font-body;
        font-size: 14px;
        color: #333333;
    }
    
    .stamporder__button {
        display: none;
    }

    .items-title {
        margin-left: 30px;
    }

    .catalog-items__wrapper {
        max-width: 320px;
        margin: auto;
        
    }

    .catalog__item {
        // display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 300px;
       margin-right: 20px;
       margin-bottom: 20px;
    }
    
    
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

    .stamppage {
        padding-top: 10px;
      }
    
    .stamppage-wrapper {
        max-width: 320px;
        margin: auto;
      }
      
    .stamppage-promo {
        padding-left: 20px;
    }
    
    .stamppage-name {
         max-width: 320px;
         margin-right: 20px;
    }
    
    .stamppage-triger ul{
        font-size: 12px;
        
    }

    .stamporder-cart h3 {
        font-size: 14px;

    }

    .stamporder-cart__description {
        font-size: 14px;
    }
    
    .stamppage-triger li {
        margin-right: 16px;
    }
    
    .stamppage-header {
        font-size: 24px;
        margin-top: 20px;
        margin-bottom: 20px;  
    }
    
    .stamppage-description {
        font-size: 16px;
        margin-bottom: 40px;  
    }
    
    .stamppage-button {
        font-size: 16px; 
    }
    
    .stamppage-img {
        display: none;
        
    }

    .stamporder-wrapper {
        max-width: 320px;
    }

    .catalog-items__wrapper {
        max-width: 320px;
        margin: auto;
        
    }

    .catalog__item {
        // display: flex;
        flex-direction: row;
        align-items: stretch;
        max-width: 280px;
       margin-right: 20px;
       margin-bottom: 20px;
    }

    .stamporder__item {
        max-width: 320px;
        border-radius: 0px;
        margin-right: 0px;
    }

    .stamporder-optons {
        padding: 40px 20px 20px 30px;  
    }

    .upsale-price {
        width: 270px;
    }

    .items-title {
        margin-left: 30px;
    }
}