@secondary-color: #161e56;
@header-color: #0c174c;
@accent-color: #ffcf56;
@border-grey: #e8e8e8;
@accent-color__darken: darken(@accent-color, 5%);
@accent-color__lighten: lighten(@accent-color, 5%);
@font-regular: 'Roboto Regular';
@font-bold: 'Roboto Bold';